.api-type-title {
  margin-bottom: 40px;
}

.api-card:hover {
  background-color: #ededed;
}
.api-card-selected {
  background-color: #ededed;
}

.card-pf-header {
  padding: 10px;
}

.card-pf-header .fa {
  border-radius: 50%;
  font-size: 1em;
  height: 30px;
  width: 30px;
  line-height: 26px;
  margin-right: 5px;
}

.card-pf-body {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px !important;
}

/* Reajust the Material elements style on Patternly */
.mat-stepper-horizontal {
  background-color: #fff !important;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}
.mat-stepper-horizontal-line {
  border-top-width: 1px;
  border-top-style: solid;
  flex: auto;
  height: 0;
  margin: 0 -16px;
  min-width: 32px;
  border-top-color: #bbb;
}
.mat-horizontal-content-container {
  padding-top: 3em !important;
}
.mat-step-icon {
  background-color: #fff !important;
  border-color: #bbb !important;
  border-style: solid !important;
  border-width: 1px;
  color: #bbb !important;
}
.mat-step-icon-selected {
  background-color: #39a5dc !important;
  color: #fff !important;
}
.mat-step-text-label {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
